name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest

    steps:
    #Checkout Code
    - name: Checkout Code
      uses: actions/checkout@v2

    #Setup Node.js
    - name: Set up Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 16.x

    - name: Cache dependencies
      uses: actions/cache@v2
      with:
        path: |
          **/node_modules
        key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}
        
    - name: Install dependencies
      run: npm install

    #Run Test
    - name: Run the tests
      run: npm test


  build:
    needs: tests
    name: Build
    runs-on: ubuntu-latest

    steps:
    #Checkout Code
    - name: Checkout Code
      uses: actions/checkout@v2

    #Setup Node.js
    - name: Set up Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 16.x
        
    - name: Cache dependencies
      uses: actions/cache@v2
      with:
        path: |
          **/node_modules
        key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}
        
    - name: Install dependencies
      run: npm install

    #Build
    - name: Build
      run: npm run build
      
    - name: Upload JAR
      uses: actions/upload-artifact@v2
      with:
        name: build
        path: build
  
  
  deploy:
    needs: build
    name: Deploy
    runs-on: ubuntu-latest
    
    steps:
    #Checkout Code
      - name: Download JAR
        uses: actions/download-artifact@v2
        with:
          name: build
          path: ./build
        
      - name: Deploy to GH-Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_dir: ./build
